* {
    margin: 0;
    margin-top:0;
    padding: 0;
    box-sizing: border-box;
  }

  .body{
    background-image: url(/imgs/screenshot.png);
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100%;
    
  }
   
  .container {
    min-height: 30vh;
    width: 100%;
    /* wall paper, the css folder cannot find the image within the css folder
    do not make img large because the container contains the text*/ 

    padding-left: 5%;
    padding-right: 5%;
    box-sizing: border-box;
    position: relative;
  }
   
  .navbar {
    width: 100%;
    text-align: center;
    margin: 3rem;
    margin-top: 20px;
    border-style: solid;
    border-width: 10px;
    border-color: rgb(204, 194, 194);
    background: gray;
    background-size: 100% auto;
    line-height: 40px;
    /* This is where the text is the box that contains the text the is the background of the word */
    
  }

  .nav {
    flex: 1;
    padding-left: 60px;
  }
   
  nav ul li {
    display: inline-block;
    list-style: none;
    margin: 0px 50px;
    
    font-family: "Oswald", sans-serif;
    background: transparent, black;
  }

  .nav ul li a {
    text-decoration: none;
    color: #333;
  }
  
  .sec2{
    min-height: 250vh;
    background: linear-gradient(rgba(0, 0, 0, 0.555), transparent);
    display: flex;
    flex-wrap: wrap;
    
    
  }
  .text1{
    text-align: center;
    color: aqua;
    font-size: xx-large;
    outline-style:inset;
    
    }

  .alphsec{
    text-align: center;
    font-size: xx-large;
    border-style: solid;
    border-width: 10px;
    border-color: rgb(204, 194, 194);
    background-color:aqua ;
  }

  
  .alphdiv{
    background-image: url(/imgs/rabbit.jpeg);
    border-style: solid;
    border-width: 10px;
    border-color: rgb(204, 194, 194);
    background-size: 100px;
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 50%;
  }

  .alphdiv1{
    background-image: url(/imgs/house.jpg);
    border-style: solid;
    border-width: 10px;
    border-color: rgb(204, 194, 194);
    background-size: 100px;
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 50%;
    right: 400rem;
  }

  .chev{
    background-image: url(/imgs/rope.jpeg);
    border-style: solid;
    border-width: 10px;
    border-color: rgb(204, 194, 194);
    background-size: 100px;
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 50%;
  }

  .app{
    background-image: url(/imgs/apples.jpg);
    border-style: solid;
    border-width: 10px;
    border-color: rgb(204, 194, 194);
    background-size: 100px;
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 50%;
  }

  .camel{
    background-image: url(/imgs/camel2.jpg);
    border-style: solid;
    border-width: 10px;
    border-color: rgb(204, 194, 194);
    background-size: 100px;
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 50%;
  }

  .dolph{
    background-image: url(/imgs/dolphine.jpg);
    border-style: solid;
    border-width: 10px;
    border-color: rgb(204, 194, 194);
    background-size: 100px;
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 50%;
  }

  .moun{
    background-image: url(/imgs/moun2.jpg);
    border-style: solid;
    border-width: 10px;
    border-color: rgb(204, 194, 194);
    background-size: 100px;
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 50%;
  }

  .curtain{
    background-image: url(/imgs/curtain.jpg);
    border-style: solid;
    border-width: 10px;
    border-color: rgb(204, 194, 194);
    background-size: 100px;
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 50%;
  }

  .zebra{
    background-image: url(/imgs/zebra2.jpg);
    border-style: solid;
    border-width: 10px;
    border-color: rgb(204, 194, 194);
    background-size: 100px;
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 50%;
  }

  .donkey{
    background-image: url(/imgs/donkey.jpg);
    border-style: solid;
    border-width: 10px;
    border-color: rgb(204, 194, 194);
    background-size: 100px;
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 50%;
  }

  .telephone{
    background-image: url(/imgs/telephone.jpg);
    border-style: solid;
    border-width: 10px;
    border-color: rgb(204, 194, 194);
    background-size: 100px;
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 50%;
  }

  .pack{
    background-image: url(/imgs/pack.jpg);
    border-style: solid;
    border-width: 10px;
    border-color: rgb(204, 194, 194);
    background-size: 100px;
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 50%;
  }

  .ball{
    background-image: url(/imgs/ball.jpg);
    border-style: solid;
    border-width: 10px;
    border-color: rgb(204, 194, 194);
    background-size: 100px;
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 50%;
  }

  .letter{
    background-image: url(/imgs/letter.png);
    border-style: solid;
    border-width: 10px;
    border-color: rgb(204, 194, 194);
    background-size: 100px;
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 50%;
  }



  .sec1{
    text-align: center;
    font-weight: 100;
    background-color: aqua;
    -webkit-text-stroke: 1px black;
    -webkit-text-fill-color:transparent;
  }

  .sec3{
    text-align: center;
    font-weight: 100;
    background-color: aqua;
    -webkit-text-stroke: 1px black;
    -webkit-text-fill-color:transparent;
  }

  .let{
    text-align: center;
    font-weight: 100;
    color: rgb(177, 124, 10);
    outline: 5px, solid, black;
    background: black;
  }

  .car{
    text-align: center;
    font-weight: 100;
    background-color: aqua;
    -webkit-text-stroke: 1px black;
    -webkit-text-fill-color:transparent;
  }
  .carb{
    background-image: url(/imgs/car2.jpg);
    border-style: solid;
    border-width: 10px;
    border-color: rgb(204, 194, 194);
    background-size: 100px;
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 50%;
  }

  .lem{
    background-image: url(/imgs/lemon.jpg);
    border-style: solid;
    border-width: 10px;
    border-color: rgb(204, 194, 194);
    background-size: 100px;
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 50%;
  }




.moun{
  background-image: url(/imgs/moun2.jpg);
  border-style: solid;
  border-width: 10px;
  border-color: rgb(204, 194, 194);
  background-size: 100px;
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 50%;
}



.candle{
  background-image: url(/imgs/candle.jpeg);
  border-style: solid;
  border-width: 10px;
  border-color: rgb(204, 194, 194);
  background-size: 100px;
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 50%;
}

.book{
  background-image: url(/imgs/book.webp);
  border-style: solid;
  border-width: 10px;
  border-color: rgb(204, 194, 194);
  background-size: 100px;
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 50%;
}

.tomato{
  background-image: url(/imgs/tomato.jpg);
  border-style: solid;
  border-width: 10px;
  border-color: rgb(204, 194, 194);
  background-size: 100px;
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 50%;
}

.butterfly{
  background-image: url(/imgs/butterfly.jpg);
  border-style: solid;
  border-width: 10px;
  border-color: rgb(204, 194, 194);
  background-size: 100px;
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 50%;
}

.coffee{
  background-image: url(/imgs/coffee.jpg);
  border-style: solid;
  border-width: 10px;
  border-color: rgb(204, 194, 194);
  background-size: 100px;
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 50%;
}

.bird{
  background-image: url(/imgs/bird.jpg);
  border-style: solid;
  border-width: 10px;
  border-color: rgb(204, 194, 194);
  background-size: 100px;
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 50%;
}

.hang{
  background-image: url(/imgs/hang2.jpg);
  border-style: solid;
  border-width: 10px;
  border-color: rgb(204, 194, 194);
  background-size: 100px;
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 50%;
}

.train{
  background-image: url(/imgs/train.jpg);
  border-style: solid;
  border-width: 10px;
  border-color: rgb(204, 194, 194);
  background-size: 100px;
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 50%;
}

.sky{
  background-image: url(/imgs/sky2.jpg);
  border-style: solid;
  border-width: 10px;
  border-color: rgb(204, 194, 194);
  background-size: 100px;
  background-position: center;
  background-size: cover;
  height: 150vh;
  width: 50%;
}

.dress{
  background-image: url(/imgs/dress2.jpg);
  border-style: solid;
  border-width: 10px;
  border-color: rgb(204, 194, 194);
  
  background-position: center;
  background-size: cover;
  height: 150vh;
  width: 50%;
}



